.main-logo {
    height: 100px;
}

.icon {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    cursor: pointer;
    text-decoration: none;
}

/*.post-images {*/
/*    height: 250px;*/
/*    object-fit: cover;*/
/*    margin: 10px;*/
/*    display: flex;*/
/*}*/

.post-images img {
    height: 100%;
    width: 100%;
}

.visit-button {
    width: 70%;
    border: 2px solid rgb(177, 177, 177);
    border-radius: 5px;
    color: rgb(177, 177, 177);
    text-decoration: none;
    padding: 8px;
    text-align: center;
    font-size: 18px;
}

.breadcrum {
    width: 65%;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.breadcrum div {
    border-bottom: 1px solid rgb(207, 207, 207);
    height: 28.5px;
}

.breadcrum a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
}

.active {
    border-bottom: 2px solid rgb(90, 89, 89) !important;
}

.active a {
    color: rgb(90, 89, 89) !important;
    font-weight: bold;
}

.first-button {
    display: block;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    border: 1px solid gray;
    width: 40%;
    text-align: center;
    padding: 15px;
    margin: 14px 0px;
    color: rgb(134, 134, 134);
    font-size: 18px;
    font-weight: 650;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .5s;
}

#container1 {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.first-button:hover {
    transform: scale(1.07);
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.breadcrum a:hover {
    color: #bfc0c1;
}

.icon:hover {
    border: 1px solid rgb(90, 89, 89);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 89, 89);
}

.visit-button:hover {
    color: rgb(90, 89, 89);
    border: 2px solid rgb(90, 89, 89);
}

@media (max-width:500px) {
    .breadcrum {
        width: 96%;
    }

    .first-button {
        width: 100%;
    }

    .breadcrum a {
        font-size: 16px;
    }
}